openapi: 3.2.0
info:
  title: Handy’s Partner Testing API
  description: 'The Handy Partner API offers retailers fixed price installation

    services that can be added to their eCommerce site or in-store checkout experience.

    To start using the Handy Partner API, contact partners-eng@handy.com in order to

    get access to the Sandbox.


    Once you are ready to move to prod, we will walk you through quick authentication steps.'
  version: v1
  contact: partnerships@handy.com
servers:
- url: https://partners.services.handy.com
tags:
- name: Testing
paths:
  /api/v1/orders/echo:
    post:
      summary: Display passed params
      tags:
      - Testing
      description: Use this endpoint to ensure that request signing is correctly implemented.
      parameters:
      - name: HDY-PARTNER-ID
        in: header
        description: Your assigned partner ID
        example: partner_name
        schema:
          type: string
      - name: HDY-TIMESTAMP
        in: header
        description: Seconds since epoch UTC
        example: '1525361611'
        schema:
          type: string
      - name: HDY-SIGNATURE
        in: header
        description: 'Signature generated using your private key.

          Click <a href=''https://github.com/Handybook/API-Request-Signing'' target=''_blank''>here</a> to learn how.'
        example: OF5xI0LbLXHkFBLyNa8l..XHk=
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
              example:
                message: test
      operationId: postApiV1OrdersEcho
      x-operation-id-source: derived
    get:
      summary: Display passed params
      tags:
      - Testing
      description: Use this endpoint to ensure that request signing is correctly implemented.
      parameters:
      - name: HDY-PARTNER-ID
        in: header
        description: Your assigned partner ID
        example: partner_name
        schema:
          type: string
      - name: HDY-TIMESTAMP
        in: header
        description: Seconds since epoch UTC
        example: '1525361611'
        schema:
          type: string
      - name: HDY-SIGNATURE
        in: header
        description: 'Signature generated using your private key.

          Click <a href=''https://github.com/Handybook/API-Request-Signing'' target=''_blank''>here</a> to learn how.'
        example: OF5xI0LbLXHkFBLyNa8l..XHk=
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
              example:
                message: test
      operationId: getApiV1OrdersEcho
      x-operation-id-source: derived
