{"swagger":"2.0","host":"partners.services.handy.com","schemes":["https"],"info":{"title":"Webhooks","description":"<p>As a supplement to Handy's Partner Order APIs, integrating partners can subscribe to webhooks from Handy to get information about key events associated with a booking.</p><h4>Technical Notes:</h4><p>Webhooks can arrive out of sequence. Partner systems should ensure they rely on the event date time in the payload to determine the most recent update, not the time the webhook was received.</p><p>We expect to receive <i>http</i> response status 200 to signal successful consumption of a webhook. Handy will retry if we receive a different http response status.</p><p>Partner systems should treat webhook posts as idempotent, duplicate webhooks should not cause adverse effects <i>(this can happen due to temporary connectivity issues)</i></p>"},"tags":[{"name":"Booking Channel","description":"<p>By subscribing to webhook notifications, the Partner can be notified when a particular event occurs on a booking:</p><ul><li><b>BOOKING_RESCHEDULED</b> - Event raised when a booking is rescheduled.</li><li><b>BOOKING_COMPLETED</b> - Event raised when a booking is completed.</li><li><b>BOOKING_CANCELLED</b> - Event raised when a booking is cancelled.</li><li><b>JOB_CLAIM_ASSIGNED</b> - Event raised when a service provider is assigned to a booking.</li></ul><p>These events can be triggered when the customer interacts directly with Handy through Handy's website, app or customer service. Using these webhooks the partner can ensure order state in their system stays in sync with the state of associated bookings.</p><p>To receive webhooks, the partner has to provide an <i>https</i> endpoint that can accept payloads as defined in the following sections.</p>"},{"name":"Booking Rescheduled","description":"The following scenarios are able to produce the Booking Rescheduled webhook:<h4>1. Customer Initiated Reschedule</h4>A booking can be rescheduled by the consumer through the Angi MyProjects portal.</p><p><h4>2. Manual CX Reschedule</h4>A consumer can call Angi customer support to reschedule a booking. This rescheduling is made on the consumer's behalf.</p><p><h4>3. Internal API Updates</h4>There are certain scenarios where a booking may be consolidated or adjusted based on the Angi scheduling algorithm. This is the result of a request from a partner to update the delivery or service date. In this case, the booking will be rescheduled through the Angi API."},{"name":"Booking Completed","description":"The following scenarios are able to produce the Booking Completed webhook:<h4>1. Automatic Completion</h4>If the end time of a booking has occurred, the booking will be marked as completed and this webhook signal will be sent. <h4>2. Pro Completion</h4>When a pro has finished the service they can mark the booking as completed resulting in this signal.<h4>3. CX Completion</h4>A booking may also be marked as completed through our customer service team if it has been determined the job has been finished."},{"name":"Booking Cancelled","description":"The following scenarios are able to produce the Booking Cancelled webhook:<h4>1. A non-recurring unfulfilled booking is cancelled by user</h4> A user may cancel a booking that sends the booking_cancelled webhook. <h4>2. A recurring booking is cancelled by user</h4> Recurring booking may be paused which cancels the future bookings. <h4>3. Provider cancels booking</h4> Provider may remove a booking which triggers booking_cancelled webhook. "},{"name":"Job Claim Assigned","description":"The following scenarios are able to produce the Job Claim Assigned webhook:<h4>1. A service provider is assigned to a booking.</h4><h4>2. An order is consolidated to a booking which already has a provider assigned.</h4> "},{"name":"Service Fulfilled","description":"Partners can choose between the `booking_completed` signal and the `service_fulfilled` signal. The `service_fulfilled` signal is sent after a booking has been marked as complete AND a customer has responded that the service has been completed. This signal is sent to partners at this point. If a partner chooses `booking_completed`, the signal will be sent to the partner regardless of customer response concerning completion."}],"definitions":{"booking_rescheduled_request":{"type":"object","properties":{"event":{"$ref":"#/definitions/booking_rescheduled"},"event_datetime":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"partner_order_id":{"type":"string","example":"123456789","description":"The ID of the original partner order."},"line_number":{"type":"string","example":"1","description":"Line number is important for multi-line item orders. Multiple services on a single order cannot share a line number."},"booking_id":{"type":"string","example":"81el3wdnxv94r3p","description":"This value can be used to retrieve booking details. Please see the SHOW Bookings request in the API section of these documents."},"starts_at":{"type":"string","example":"2019-11-21T15:00:00Z","description":"This datetime is in UTC."}}},"booking_rescheduled_request_v2_default":{"type":"object","properties":{"event":{"$ref":"#/definitions/booking_rescheduled"},"event_datetime":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"partner_order_id":{"type":"string","example":"123456789","description":"The ID of the original partner order."},"line_number":{"type":"string","example":"1","description":"Line number is important for multi-line item orders. Multiple services on a single order cannot share a line number."},"booking_id":{"type":"string","example":"81el3wdnxv94r3p","description":"This value can be used to retrieve booking details. Please see the SHOW Bookings request in the API section of these documents."},"starts_at":{"type":"string","example":"2019-11-21T15:00:00Z","description":"This datetime is in UTC."},"time_zone":{"type":"string","example":"America/New_York"},"has_redo":{"type":"boolean","example":true}}},"booking_rescheduled_request_v3_default":{"type":"object","properties":{"event":{"$ref":"#/definitions/booking_rescheduled"},"event_datetime":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"booking":{"type":"object","properties":{"id":{"type":"string","example":"81el3yw31352r3p","description":"This value can be used to retrieve booking details. Please see the SHOW Bookings request in the API section of these documents."},"date_start":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"date_end":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"time_zone":{"type":"string","example":"America/New_York"},"has_redo":{"type":"boolean","example":true}}},"user":{"type":"object","properties":{"id":{"type":"string","example":"dworwwk3ky7v9qz"}}},"provider":{"type":"object","properties":{"first_name_last_initial":{"type":"string","example":"Tim K."}}},"recurring_booking":{"type":"string","example":"The recurring booking (if one exists). Details will be the same as booking."},"order":{"type":"object","properties":{"partner_order_id":{"type":"string","example":"123456789","description":"The ID of the original partner order."},"line_number":{"type":"string","example":"1","description":"Line number is important for multi-line item orders. Multiple services on a single order cannot share a line number."}}},"redo_order_references":{"type":"array"},"reason":{"type":"string","example":"company_schedule"}}},"booking_rescheduled_request_v4":{"type":"object","properties":{"event":{"$ref":"#/definitions/booking_rescheduled"},"event_datetime":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"booking_id":{"type":"string","example":"13v4181qqzlxzj","description":"This value can be used to retrieve booking details. Please see the SHOW Bookings request in the API section of these documents."}}},"booking_rescheduled_request_v5_default":{"type":"object","properties":{"event":{"$ref":"#/definitions/booking_rescheduled"},"event_datetime":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"booking":{"type":"object","properties":{"id":{"type":"string","example":"81el3yw31352r3p","description":"This value can be used to retrieve booking details. Please see the SHOW Bookings request in the API section of these documents."},"date_start":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"date_end":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"time_zone":{"type":"string","example":"America/New_York"},"has_redo":{"type":"boolean","example":true}}},"user":{"type":"object","properties":{"id":{"type":"string","example":"dworwwk3ky7v9qz"}}},"provider":{"type":"object","properties":{"first_name_last_initial":{"type":"string","example":"Tim K."}}},"recurring_booking":{"type":"string","example":"The recurring booking (if one exists). Details will be the same as booking."},"order":{"type":"object","properties":{"partner_order_id":{"type":"string","example":"123456789","description":"The ID of the original partner order."},"line_number":{"type":"string","example":"1","description":"Line number is important for multi-line item orders. Multiple services on a single order cannot share a line number."},"quantity":{"type":"integer","example":1,"description":"Quantity of the order line item."}}},"redo_order_references":{"type":"array"},"reason":{"type":"string","example":"company_schedule"}}},"booking_rescheduled_request_v2":{"type":"object","$ref":"#/definitions/booking_rescheduled_request_v2_default"},"booking_rescheduled_request_v3_array":{"type":"object","$ref":"#/definitions/booking_rescheduled_request_v3_default"},"booking_completed_request":{"type":"object","properties":{"event":{"$ref":"#/definitions/booking_completed"},"event_datetime":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"partner_order_id":{"type":"string","example":"123456789","description":"The ID of the original partner order."},"line_number":{"type":"string","example":"1","description":"Line number is important for multi-line item orders. Multiple services on a single order cannot share a line number."},"booking_id":{"type":"string","example":"81el3wdnxv94r3p","description":"This value can be used to retrieve booking details. Please see the SHOW Bookings request in the API section of these documents."},"starts_at":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."}}},"booking_completed_request_v3_default":{"type":"object","properties":{"event":{"$ref":"#/definitions/booking_completed"},"event_datetime":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"booking":{"type":"object","properties":{"id":{"type":"string","example":"81el3yw31352r3p","description":"This value can be used to retrieve booking details. Please see the SHOW Bookings request in the API section of these documents."},"date_start":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"date_end":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"time_zone":{"type":"string","example":"America/New_York"},"has_redo":{"type":"boolean","example":true}}},"user":{"type":"object","properties":{"id":{"type":"string","example":"dworwwk3ky7v9qz"}}},"provider":{"type":"object","properties":{"first_name_last_initial":{"type":"string","example":"Tim K."}}},"recurring_booking":{"type":"string","example":"The recurring booking (if one exists). Details will be the same as booking."},"order":{"type":"object","properties":{"partner_order_id":{"type":"string","example":"123456789","description":"The ID of the original partner order."},"line_number":{"type":"string","example":"1","description":"Line number is important for multi-line item orders. Multiple services on a single order cannot share a line number."}}},"redo_order_references":{"type":"array"},"reason":{"type":"string","example":"company_schedule"}}},"booking_completed_request_v4":{"type":"object","properties":{"event":{"$ref":"#/definitions/booking_completed"},"event_datetime":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"booking_id":{"type":"string","example":"13v4181qqzlxzj","description":"This value can be used to retrieve booking details. Please see the SHOW Bookings request in the API section of these documents."}}},"booking_cancelled_request_v2":{"type":"object","properties":{"event":{"$ref":"#/definitions/booking_cancelled"},"event_datetime":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"starts_at":{"type":"string","example":"2019-11-21T15:00:00Z","description":"This datetime is in UTC."},"time_zone":{"type":"string","example":"America/New_York"},"partner_order_id":{"type":"string","example":"123456789","description":"The ID of the original partner order."},"line_number":{"type":"string","example":"1","description":"Line number is important for multi-line item orders. Multiple services on a single order cannot share a line number."},"booking_id":{"type":"string","example":"81el3wdnxv94r3p","description":"This value can be used to retrieve booking details. Please see the SHOW Bookings request in the API section of these documents."},"has_redo":{"type":"boolean","example":false,"description":"Sometimes a booking will result in one or more redos (due to many reasons including Pro No Shows, job not completed at a satisfactory level, etc). If a redo booking is created, this field will be true."}}},"booking_cancelled_request_v3":{"type":"object","properties":{"event":{"$ref":"#/definitions/booking_cancelled"},"event_datetime":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"order":{"partner_order_id":{"type":"string","example":"123456789","description":"The ID of the original partner order."}},"booking":{"booking_id":{"type":"string","example":"81el3wdnxv94r3p","description":"This value can be used to retrieve booking details. Please see the SHOW Bookings request in the API section of these documents."},"time_zone":{"type":"string","example":"America/New_York"},"date_start":{"type":"string","example":"2019-11-21T15:00:00Z","description":"This datetime is in UTC."},"date_end":{"type":"string","example":"2019-11-21T15:00:00Z","description":"This datetime is in UTC."}},"user":{"type":"object","properties":{"id":{"type":"string","example":"dworwwk3ky7v9qz"}}}}},"booking_cancelled_request_v5":{"type":"object","properties":{"event":{"$ref":"#/definitions/booking_cancelled"},"event_datetime":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"order":{"partner_order_id":{"type":"string","example":"123456789","description":"The ID of the original partner order."},"line_number":{"type":"string","example":"1","description":"Line number is important for multi-line item orders. Multiple services on a single order cannot share a line number."}},"booking":{"booking_id":{"type":"string","example":"81el3wdnxv94r3p","description":"This value can be used to retrieve booking details. Please see the SHOW Bookings request in the API section of these documents."},"time_zone":{"type":"string","example":"America/New_York"},"date_start":{"type":"string","example":"2019-11-21T15:00:00Z","description":"This datetime is in UTC."},"date_end":{"type":"string","example":"2019-11-21T15:00:00Z","description":"This datetime is in UTC."},"has_redo":{"type":"boolean","example":false}},"user":{"type":"object","properties":{"id":{"type":"string","example":"dworwwk3ky7v9qz"}}},"recurring_booking":{"type":"string","example":"The recurring booking (if one exists). Details will be the same as booking."},"redo_order_references":{"type":"array"},"reason":{"type":"string","example":"auto_cancel_after_multiple_rbu"}}},"service_fulfilled_request_v2":{"type":"object","properties":{"event":{"$ref":"#/definitions/service_fulfilled"},"event_datetime":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"partner_order_id":{"type":"string","example":"123456789","description":"The ID of the original partner order."},"line_number":{"type":"string","example":"1","description":"Line number is important for multi-line item orders. Multiple services on a single order cannot share a line number."},"booking_id":{"type":"string","example":"81el3wdnxv94r3p","description":"This value can be used to retrieve booking details. Please see the SHOW Bookings request in the API section of these documents."},"starts_at":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"time_zone":{"type":"string","example":"America/New_York"},"has_redo":{"type":"boolean","example":true,"description":"Sometimes a booking will result in one or more redos (due to many reasons including Pro No Shows, job not completed at a satisfactory level, etc). If a redo booking is created, this field will be true."}}},"service_fulfilled_request_v3":{"type":"object","properties":{"event":{"$ref":"#/definitions/service_fulfilled"},"event_datetime":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"booking":{"type":"object","properties":{"id":{"type":"string","example":"81el3yw31352r3p","description":"This value can be used to retrieve booking details. Please see the SHOW Bookings request in the API section of these documents."},"date_start":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"date_end":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"time_zone":{"type":"string","example":"America/New_York"},"has_redo":{"type":"boolean","example":true,"description":"Sometimes a booking will result in one or more redos (due to many reasons including Pro No Shows, job not completed at a satisfactory level, etc). If a redo booking is created, this field will be true."}}},"user":{"type":"object","properties":{"id":{"type":"string","example":"dworwwk3ky7v9qz"}}},"provider":{"type":"object","properties":{"first_name_last_initial":{"type":"string","example":"Tim K."}}},"recurring_booking":{"type":"string","example":"The recurring booking (if one exists). Details will be the same as booking."},"order":{"type":"object","properties":{"partner_order_id":{"type":"string","example":"123456789","description":"The ID of the original partner order."},"line_number":{"type":"string","example":"1","description":"Line number is important for multi-line item orders. Multiple services on a single order cannot share a line number."}}},"redo_order_references":{"type":"array"}}},"job_claim_assigned_request_v2":{"type":"object","properties":{"consolidated_event":{"type":"object","description":"In case of a consolidation event, all of the fields listed below will be under this object."},"event":{"$ref":"#/definitions/job_claim_assigned"},"event_datetime":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"booking_id":{"type":"string","example":"81el3wdnxv94r3p","description":"This value can be used to retrieve booking details. Please see the SHOW Bookings request in the API section of these documents."},"partner_order_id":{"type":"string","example":"123456789","description":"The ID of the original partner order."},"line_number":{"type":"string","example":"1","description":"Line number is important for multi-line item orders. Multiple services on a single partner order id cannot share a line number."},"provider":{"type":"object","properties":{"name":{"type":"string","example":"Bob R","description":"Name of the provider who will be fulfilling the service."},"company":{"type":"object","properties":{"name":{"type":"string","example":"Plumbing R Us","description":"Name of the service company who will be fulfilling the service."}}}}}}},"job_claim_assigned_request_v3":{"type":"object","properties":{"event":{"$ref":"#/definitions/job_claim_assigned"},"event_datetime":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC."},"booking":{"type":"object","properties":{"id":{"type":"string","example":"81el3wdnxv94r3p","description":"This value can be used to retrieve booking details. Please see the SHOW Bookings request in the API section of these documents."},"date_start":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC. This timestamp represents the expected service start time."},"date_end":{"type":"string","example":"2019-10-21T16:00:00Z","description":"This datetime is in UTC. This timestamp represents the expected service end time."},"time_zone":{"type":"string","example":"America/New_York"},"has_redo":{"type":"boolean","example":true,"description":"Sometimes a booking will result in one or more redos (due to many reasons including Pro No Shows, job not completed at a satisfactory level, etc). If a redo booking is created, this field will be true."}}},"user":{"type":"object","properties":{"id":{"type":"string","example":"dworwwk3ky7v9qz"}}},"recurring_booking":{"type":"object","properties":{"id":{"type":"string","example":"81el3wdnxv94r3p","description":"The ID of a recurring booking (if one exists)."}}}}},"booking_rescheduled":{"type":"string","example":"booking_rescheduled"},"booking_completed":{"type":"string","example":"booking_completed"},"booking_cancelled":{"type":"string","example":"booking_cancelled"},"service_fulfilled":{"type":"string","example":"service_fulfilled"},"job_claim_assigned":{"type":"string","example":"job_claim_assigned"}},"paths":{"/v2/booking_rescheduled_callback":{"post":{"summary":"(V2) Booking Rescheduled","tags":["Booking Rescheduled"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request_body","in":"body","schema":{"$ref":"#/definitions/booking_rescheduled_request_v2"},"required":true}],"responses":{"200":{"description":"Received"}}}},"/v3/booking_rescheduled_callback":{"post":{"summary":"(V3) Booking Rescheduled","tags":["Booking Rescheduled"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request_body","in":"body","schema":{"$ref":"#/definitions/booking_rescheduled_request_v3_default"},"required":true}],"responses":{"200":{"description":"Received"}}}},"/v5/booking_rescheduled_callback":{"post":{"summary":"(V5) Booking Rescheduled","tags":["Booking Rescheduled"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request_body","in":"body","schema":{"$ref":"#/definitions/booking_rescheduled_request_v5_default"},"required":true}],"responses":{"200":{"description":"Received"}}}},"/v2/booking_completed_callback":{"post":{"summary":"(V2) Booking Completed","tags":["Booking Completed"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request_body","in":"body","schema":{"$ref":"#/definitions/booking_completed_request"},"required":true}],"responses":{"200":{"description":"Received"}}}},"/v3/booking_completed_callback":{"post":{"summary":"(V3) Booking Completed","tags":["Booking Completed"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request_body","in":"body","schema":{"$ref":"#/definitions/booking_completed_request_v3_default"},"required":true}],"responses":{"200":{"description":"Received"}}}},"/v5/booking_completed_callback":{"post":{"summary":"(V5) Booking Completed","tags":["Booking Completed"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request_body","in":"body","schema":{"$ref":"#/definitions/booking_completed_request_v3_default"},"required":true}],"responses":{"200":{"description":"Received"}}}},"/v2/booking_cancelled_callback":{"post":{"summary":"(V2) Booking Cancelled","tags":["Booking Cancelled"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request_body","in":"body","schema":{"$ref":"#/definitions/booking_cancelled_request_v2"},"required":true}],"responses":{"200":{"description":"Received"}}}},"/v3/booking_cancelled_callback":{"post":{"summary":"(V3) Booking Cancelled","tags":["Booking Cancelled"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request_body","in":"body","schema":{"$ref":"#/definitions/booking_cancelled_request_v3"},"required":true}],"responses":{"200":{"description":"Received"}}}},"/v5/booking_cancelled_callback":{"post":{"summary":"(V5) Booking Cancelled","tags":["Booking Cancelled"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request_body","in":"body","schema":{"$ref":"#/definitions/booking_cancelled_request_v5"},"required":true}],"responses":{"200":{"description":"Received"}}}},"/v2/service_fulfilled_callback":{"post":{"summary":"(V2) Service Fulfilled","tags":["Service Fulfilled"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request_body","in":"body","schema":{"$ref":"#/definitions/service_fulfilled_request_v2"},"required":true}],"responses":{"200":{"description":"Received"}}}},"/v3/service_fulfilled_callback":{"post":{"summary":"(V3) Service Fulfilled","tags":["Service Fulfilled"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request_body","in":"body","schema":{"$ref":"#/definitions/service_fulfilled_request_v3"},"required":true}],"responses":{"200":{"description":"Received"}}}},"/v2/job_claim_assigned_callback":{"post":{"summary":"(V2) Job Claim Assigned","description":"<p>In case of multiple service items associated with a single booking, an array of orders is returned.</p> Each one will have a different line number or partner order id associated with it to represent the unique service item.","tags":["Job Claim Assigned"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request_body","in":"body","schema":{"$ref":"#/definitions/job_claim_assigned_request_v2"},"required":true}],"responses":{"200":{"description":"Received"}}}},"/v3/job_claim_assigned_callback":{"post":{"summary":"(V3) Job Claim Assigned","tags":["Job Claim Assigned"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request_body","in":"body","schema":{"$ref":"#/definitions/job_claim_assigned_request_v3"},"required":true}],"responses":{"200":{"description":"Received"}}}}}}